*{
	box-sizing: border-box;
}
body, h1, h2,p, ul{
		margin: 0;
		padding: 0;
	}
	
body{
		font-family: Arial,Helvetica, sans-serif;
		line-height: 1.6;
		background: #f4f4f9;
		color: #333;
	}
	
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #b80404;
	padding: 1rem 2rem;
}